<svg #chart xmlns="http://www.w3.org/2000/svg" width="100%" height="300">
	<g *ngIf="annualRetirementIncomeHistogram && this._chartProperties">
		<g stroke-width="3" stroke-linecap="round" stroke-dasharray="0, 10">
			<line [attr.x1]="_chartProperties.retirementIncomeWithDiaCallout.x" [attr.x2]="_chartProperties.retirementIncomeWithDiaCallout.x" y1="8" [attr.y2]="_chartProperties.retirementIncomeWithDiaCallout.y - 4" class="secondaryStroke"/>
			<line [attr.x1]="_chartProperties.retirementIncomeCallout.x" [attr.x2]="_chartProperties.retirementIncomeCallout.x" y1="8" [attr.y2]="_chartProperties.retirementIncomeCallout.y - 4" class="primaryStroke"/>
		</g>
		<path fill="red" stroke="none" opacity="0.5" [attr.d]="_chartProperties.retirementIncomeWithDiaSpline"/>
		<path fill="blue" stroke="none" opacity="0.5" [attr.d]="_chartProperties.retirementIncomeSpline"/>
		<g stroke="none" text-anchor="middle" font-size="14" class="labels">
			<text *ngFor="let label of this._chartProperties.xAxisLabels" [attr.x]="label.x" [attr.y]="label.y" >{{label.label}}</text>
		</g>
		<g fill="none" stroke="#ccc">
			<line *ngFor="let tickmark of this._chartProperties.xAxisTickmarks" [attr.x1]="tickmark.x1" [attr.x2]="tickmark.x2" [attr.y1]="tickmark.y1" [attr.y2]="tickmark.y2" />
		</g>
		<g stroke="none" font-size="14">
			<g text-anchor="end" class="secondaryFill" >
				<text [attr.x]="_chartProperties.retirementIncomeWithDiaCallout.x - 8" y="16">{{_chartProperties.retirementIncomeWithDiaCallout.value}}</text>
				<text [attr.x]="_chartProperties.retirementIncomeWithDiaCallout.x - 8" y="32">Median result</text>
			</g>
			<g text-anchor="start" class="primaryFill">
				<text [attr.x]="_chartProperties.retirementIncomeCallout.x + 8" y="16">{{_chartProperties.retirementIncomeCallout.value}}</text>
				<text [attr.x]="_chartProperties.retirementIncomeCallout.x + 8" y="32">Median result</text>
			</g>
		</g>
		<!-- <g stroke="none" text-anchor="start" font-size="14" class="labels">
			<text *ngFor="let label of this._chartProperties.yAxisLabels" [attr.x]="label.x + 15" [attr.y]="label.y + 4" >{{label.label}}</text>
		</g>
		<g stroke="#ccc">
			<line *ngFor="let label of this._chartProperties.yAxisLabels" [attr.x1]="label.x" [attr.x2]="label.x + 10" [attr.y1]="label.y" [attr.y2]="label.y" ></line>
		</g> -->
	</g>
</svg>
