.primaryFill {
	fill: var(--primary-color);
}
.secondaryFill {
	fill: var(--secondary-color);
}
.primaryStroke {
	stroke: var(--primary-color);
}
.secondaryStroke {
	stroke: var(--secondary-color);
}
.labels {
	fill: var(--light-font-color);
}