<div class="container">
	<app-label-input-group
		(inputChanged)="onInputChanged($event)"
		label="How much have you saved so far?"
		[value]="balance"
		field="balance"
		[inputType]="_currency"
		min="0"
		max="9999999"
		maxlength="7"
		placeholder="$0">
	</app-label-input-group>
	<app-label-input-group
		(inputChanged)="onInputChanged($event)"
		label="What is your annual salary?"
		[value]="salary"
		field="salary"
		[inputType]="_currency"
		min="0"
		max="9999999"
		maxlength="7"
		placeholder="$0">
	</app-label-input-group>
	<app-label-input-group
		(inputChanged)="onInputChanged($event)"
		label="What percent of your salary to you save?"
		[value]="savingsPercent"
		field="savingsPercent"
		[inputType]="_percent"
		min="0"
		max="25"
		maxLength="2"
		placeholder="0%">
	</app-label-input-group>
	<app-label-input-group
		(inputChanged)="onInputChanged($event)"
		label="How old are you?"
		[value]="age"
		field="age"
		[inputType]="_number"
		min="21"
		max="99"
		maxlength="2"
		placeholder="40">
	</app-label-input-group>
	<app-label-input-group
		(inputChanged)="onInputChanged($event)"
		label="How many years until you plan to retire?"
		[value]="yearsUntilRetirement"
		field="yearsUntilRetirement"
		[inputType]="_number"
		min="1"
		max="99"
		maxlength="2"
		placeholder="25">
	</app-label-input-group>
	<div class="padding">
		<label>What percent of your savings are you considering converting to an annuity?</label>
		<select name="annuitizedPercent" #select (change)="onSelectChanged(select.value)">
			<option *ngFor="let option of [0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]" value="{{option}}" [selected]="option == annuitizedPercent">{{option}}%</option>
		</select>
	</div>
	<!-- <button (click)="onButtonClicked()" [disabled]="disabled">Calculate results</button> -->
	<div class="padding">
		<app-progress-button (progressButtonClicked)="onButtonClicked()" [disabled]="disabled" [progress]="progress">Calculate results</app-progress-button>
	</div>
</div>
