:root {
  --primary-font: "Lato";
  --bold-font-weight: 700;
  --normal-font-weight: 400;
  --light-font-weight: 300;
  --primary-font-color: #444;
  --light-font-color: #999;
  --normal-font-size: 0.875rem;
  --light-gray: #ccc;
  --very-light-gray: #f5f5f5;
  --primary-color: #0073BE;
  --secondary-color: #ff4081;
  --normal-border-radius: 0.25rem;
}

annuity-calc {
  box-sizing: border-box;
}

annuity-calc *,
annuity-calc *:before,
annuity-calc *:after {
  box-sizing: inherit;
}

annuity-calc  {
  font-family: var(--primary-font), "Helvetica Neue", sans-serif;
  font-weight: var(--normal-font-weight);
  font-style: normal;
  font-size: 16px;
  color: var(--primary-font-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

annuity-calc p,
annuity-calc label {
  font-size: var(--normal-font-size);
}

annuity-calc input[type="text"],
annuity-calc button {
  font: inherit;
  font-size: var(--normal-font-size);
  appearance: none;
}

// annuity-calc input[type="text"] {
//   border: 1px solid var(--light-gray);
//   background-color: white;
//   padding: 0.25rem 0.5rem;
// }

// annuity-calc select {
//   font: inherit;
//   font-size: var(--normal-font-size);
//   border: 1px solid var(--light-gray);
//   border-radius: var(--normal-border-radius);
//   padding: 0.25rem 2rem 0.25rem 1rem;
//   color: var(--primary-font-color);
//   background-color: white;
//   background-position: right 0.5rem center;
//   background-repeat: no-repeat;
//   background-size: 1rem 0.5rem;
//   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='8' fill='none' stroke='%2398A9BC' stroke-width='2' %3E%3Cpath d='M2,1 L8,7 L14,1'/%3E%3C/svg%3E");
//   appearance: none;
// }
// annuity-calc select:focus {
//   outline: none;
// }
